*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#d9eee9;
    font-family:Arial,sans-serif;
}

.invoice-container{
    background:#f5f2e7;
    border-radius:8px;
    padding:20px;
    max-width:1000px;
    margin:auto;
}

.invoice-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

.invoice-header h1{
    font-size:50px;
}



.invoice-info{
    display:flex;
    justify-content:space-between;
    margin-bottom:20px;
}

.bill-to h3,
.payment-method h3{
    margin-bottom:10px;
}

.wallet-box{
    border:2px solid #7d9f74;
    border-radius:8px;
    padding:12px;
    display:flex;
    align-items:center;
    gap:12px;
    min-width:320px;
}

.wallet-box i{
    color:#4c7448;
    font-size:24px;
}

.product-table{
    width:100%;
    border-collapse:collapse;
    margin-bottom:20px;
}

.product-table th{
    background:#dce6d3;
    padding:10px;
    text-align:left;
}

.product-table td{
    padding:10px;
    border-bottom:1px solid #ccc;
}

.product-info{
    display:flex;
    gap:12px;
    align-items:center;
}

.product-info img{
    width:60px;
    height:70px;
    object-fit:cover;
    border-radius:5px;
}

.invoice-summary{
    width:420px;
    margin-left:auto;
}

.row{
    display:flex;
    justify-content:space-between;
    padding:8px 0;
}

.shipping-box{
    display:flex;
    align-items:center;
    gap:15px;
    background:#dce6d3;
    padding:10px;
    border-radius:6px;
    margin:10px 0;
}

.shipping-box i{
    font-size:28px;
    color:#4c7448;
}

.total-row{
    background:#5f8159;
    color:white;
    display:flex;
    justify-content:space-between;
    padding:12px;
    font-size:24px;
    font-weight:bold;
}

.blockchain-box{
    margin-top:20px;
    border:2px solid #8aa07f;
    border-radius:8px;
    padding:15px;
    display:flex;
    gap:15px;
    background:#eef5ea;
}

.blockchain-box i{
    font-size:35px;
    color:#4c7448;
}

.blockchain-box a{
    color:#1f5d2f;
    font-weight:bold;
}